.row
  %h5.center-align Create new account to use all functions
  .col.m6.offset-m3
    .card.log-in-card.z-depth-1.grey.lighten-4.hoverable
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.input :username
        = f.input :email
        = f.input :password
        = f.input :password_confirmation
        .form-actions
          = f.submit 'Sign up', class: 'btn btn-large waves-effect indigo full-width'
    = render "devise/shared/links"