= simple_form_for @event do |f|
  = f.input :title, input_html: { data: { length: Event.validators_on(:title)[1].options[:maximum] } }
  = f.input :text, as: :text, input_html: { data: { length: Event.validators_on(:text)[1].options[:maximum] } }
  .row
    = f.input :start_time, wrapper_html: { class: 'col m6' }
    = f.input :end_time, as: :time, wrapper_html: { class: 'col m6' }
  = f.input :photo, as: :file
  = f.button :submit