.row
  %h5.center-align Log in
  .col.m6.offset-m3
    .card.log-in-card.z-depth-1.grey.lighten-4.hoverable
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { autocompelte: 'off' }) do |f|
        = f.input :email
        = f.input :password
        - if devise_mapping.rememberable?
          = f.check_box :remember_me
        .form-actions
          = f.submit 'Log in', class: 'btn btn-large waves-effect indigo full-width'
      = render "devise/shared/links"